[push]
  autoSetupRemote = true

[user]
	name = Karhdo
	email = dotrongkhanh.dev@gmail.com

[includeIf "gitdir:~/Workplace/YouNet_Media/"]
  [user]
	  name = khanhdt
	  email = khanhdt@younetgroup.com
