[user]
  name = Karhdo
  email = dotrongkhanh.dev@gmail.com
	signingkey = /Users/khanhdo/.ssh/spartan.pub

[includeIf "gitdir:/Users/khanhdo/Workplace/Spartan/"]
  path = /Users/khanhdo/.gitconfig-spartan

[push]
  autoSetupRemote = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /Users/khanhdo/.ssh/allowed_signers
